{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="col-md-9 px-4">
    <div class="row">
        <div class="col-md-12 block-info">
            <div class="row">
                <div class="col-md-5">
                    <h4>Список ваших статей</h4>
                    <a class="new-article" href="{% url 'add_article' %}">Добавить новую</a>
                </div>
            </div>
            <div class="line"></div>
            <div class="row">

                {% if articles == '' %}
                    <p>Статей пока нет!</p>
                {% endif %}

                {% for article in articles %}
                     <a href="{% url 'edit_article' slug=article.id %}" class="col-md-6 youtube-block">

                         {% if article.image.url != '' %}
                            <img src="{{ article.image.url }}" alt=""><br>
                         {% else %}
                            <img src="{% static 'img/article.png' %}" alt=""><br>
                         {% endif %}
                         <p>{{ article.title }}</p>
                         <p>Стаутс:

                             {% if article.status == 'new' %}
                                Новая
                             {% endif %}

                             {% if article.status == 'review' %}
                                Рассмотрение
                             {% endif %}

                             {% if article.status == 'success' %}
                                Выполнено
                             {% endif %}

                             {% if article.status == 'reject' %}
                                Отказ
                             {% endif %}

                             {% if article.status == 'archive' %}
                                Архив
                             {% endif %}
                         </p>

                     </a>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}