{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="col-md-9 px-4">
    <div class="row">
        <div class="col-md-12 block-info">
            <div class="row">
                <div class="col-md-6">
                    <h4>Список ваших консультаций</h4>
                </div>
            </div>
            <div class="line"></div>

            <div class="col-md-12 task-header">
                <div class="row">
                    <div class="col-md-3 task-status">
                         <p>Новая</p>
                    </div>

                    <div class="col-md-3 task-status">
                         <p>В работе</p>
                    </div>

                    <div class="col-md-3 task-status">
                         <p>Успех</p>
                    </div>

                    <div class="col-md-3 task-status">
                         <p>Отказ</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 task-body">
                <div class="row">

                    <div class="col-md-3 task-list" id="task-list-new" data-status="new">
                        {% for meeting in meeting_new %}
                            <div class="task-item show-modal task-get"  id="task-item-{{ meeting.id }}" data-id="{{ meeting.id }}" data-sort="{{ meeting.sort_id }}">
                                <p class="task-id">#{{ meeting.id }}</p>
                                <p class="task-date">{{ meeting.date }}</p>
                                <p class="task-time">{{ meeting.time_start }}</p>
                                <p class="task-name">{{ meeting.user.fio }}</p>
                                <p class="show-modal-info show-modal" data-id="{{ meeting.id }}">удалить</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-3 task-list" id="task-list-work" data-status="work">
                        {% for meeting in meeting_work %}
                            <div class="task-item show-modal task-get" id="task-item-{{ meeting.id }}" data-id="{{ meeting.id }}" data-sort="{{ meeting.sort_id }}">
                                <p class="task-id">#{{ meeting.id }}</p>
                                <p class="task-date">{{ meeting.date }}</p>
                                <p class="task-time">{{ meeting.time_start }}</p>
                                <p class="task-name">{{ meeting.user.fio }}</p>
                                <p class="show-modal-info show-modal" data-id="{{ meeting.id }}">удалить</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-3 task-list" id="task-list-success"  data-status="success">
                        {% for meeting in meeting_success %}
                            <div class="task-item show-modal task-get" id="task-item-{{ meeting.id }}" data-id="{{ meeting.id }}" data-sort="{{ meeting.sort_id }}">
                                <p class="task-id">#{{ meeting.id }}</p>
                                <p class="task-date">{{ meeting.date }}</p>
                                <p class="task-time">{{ meeting.time_start }}</p>
                                <p class="task-name">{{ meeting.user.fio }}</p>
                                <p class="show-modal-info show-modal" data-id="{{ meeting.id }}">удалить</p>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-3 task-list" id="task-list-reject"  data-status="reject">
                        {% for meeting in meeting_reject %}
                            <div class="task-item show-modal task-get" id="task-item-{{ meeting.id }}" data-id="{{ meeting.id }}" data-sort="{{ meeting.sort_id }}">
                                <p class="task-id">#{{ meeting.id }}</p>
                                <p class="task-date">{{ meeting.date }}</p>
                                <p class="task-time">{{ meeting.time_start }}</p>
                                <p class="task-name">{{ meeting.user.fio }}</p>
                                <p class="show-modal-info show-modal" data-id="{{ meeting.id }}">удалить</p>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal-cover">
    <div class="modal-wrap">
        <div class="modal-header">
            <p class="modal-title">Консультация</p>
            <img src="{% static 'img/cross.png' %}" class="modal-close hide-modal">
        </div>
        <div class="modal-body modal-body-ajax"></div>
    </div>
</div>

{% endblock %}