{% extends "home.html" %}
{% load static %}

{% block content %}

{% if form.errors %}
    {% for key, value in form.errors.items %}
        <div class="error-wrap">
           {{ value }}
        </div>
    {% endfor %}
{% endif %}

<div class="offer-block reg-page">
    <div class="container">
        <form method="post" class="row">
             {% csrf_token %}
             <div class="col-12">
                 <h3>Введите данные для востановления пароля</h3>
                 <input type="email" name="email" id="id_email" placeholder="Введите Ваш e-mail" required>
                 <div class="col-12 submit-login">
                  <input type="submit" value="Восстановить">
                 </div>
             </div>
        </form>
    </div>
</div>

{% endblock %}