{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="col-md-9 px-4">
    <div class="row">
        <div class="col-md-12 block-info">
            <h4>Оставить отзыв</h4>
            <div class="line"></div>
            <p>{{txt}}</p>

            {% for review in reviews %}
               <div class="review-item">
                    <div class="star-wrap">
                        <p>Профессионализм:</p>
                        <div class="star-rate star-prof" data-rate-value="{{review.star_prof}}" style="pointer-events: none"></div>
                    </div>
                    <div class="star-wrap">
                        <p>Личные качества:</p>
                        <div class="star-rate star-pers" data-rate-value="{{review.star_pers}}" style="pointer-events: none"></div>
                    </div>
                    <p><strong>Текст отзыва:</strong> {{ review.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}