{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<div class="col-md-9 px-4">
    <div class="row">
        <div class="col-md-12 block-info">
            <div class="row">
                <div class="col-md-5">
                    <h4>Список ваших видеолекций</h4>
                </div>
                <div class="col-md-7 tab-line">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Бесплатный контент</a></li>
                        <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Платный контентк</a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="row tab-content">
                <div class="col-md-12 central tab-pane active" role="tabpanel" id="tab1">
                    <div class="central" >
                        <img src="{% static 'img/icon_consalt.png' %}" alt=""> <br>
                        <p>Здесь будут храниться бесплатные видеолекции, которые вы добавили.</p>
                        <input type="Вставить ссылку на видео в youtube">
                    </div>
                </div>
                <div class="col-md-12 central tab-pane" role="tabpanel" id="tab2">
                    <div class="central">
                        <img src="{% static 'img/icon_consalt.png' %}" alt=""> <br>
                        <p>Здесь будут храниться платные видеолекции, которые вы добавили.</p>
                        <input type="Вставить ссылку на видео в youtube">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 block-info">
            <div class="row">
                <div class="col-md-5">
                    <h4>Список ваших видеолекций</h4>
                </div>
                <div class="col-md-7 tab-line">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab3" role="tab" data-toggle="tab">Бесплатный контент</a></li>
                        <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">Платный контентк</a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="row tab-pane active" role="tabpanel" id="tab3">
                <div class="col-md-6 youtube-block">
                        <img src="{% static 'img/youtube.jpg' %}" alt=""> <br>
                        <p>Бесплатное видео 1</p>
                </div>
                <div class="col-md-6 youtube-block">
                        <img src="{% static 'img/youtube.jpg' %}" alt=""> <br>
                        <p>Бесплатное видео 2</p>
                </div>
            </div>
            <div class="row tab-pane" role="tabpanel" id="tab4">
                <div class="col-md-6 youtube-block">
                        <img src="{% static 'img/youtube.jpg' %}" alt=""> <br>
                        <p>Платное видео 1</p>
                </div>
                <div class="col-md-6 youtube-block">
                        <img src="{% static 'img/youtube.jpg' %}" alt=""> <br>
                        <p>Платное видео 2</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}