{% extends "home.html" %}
{% load static %}

{% block content %}

<div class="top-search">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="search-title">
                    Запишитесь на приём к специалисту онлайн
                </div>
            </div>
        </div>
        <div class="row popup-login">
            <div class="col-sm">
                <div class="search-form">
                    <div class="form-offer">
                        <form class="mainform">
                            <p class="name">
                                <input type="text" name="name" value="Имя автора" />
                            </p>
                            <p class="email">
                                <input type="text" name="email" value="name@example.com" />
                            </p>
                            <p class="send">
                                <input type="submit" value="Отправить" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="doctor-search">
    <div class="container">
        <div class="row">
            <div class="col-ms">
                <div class="breadcrumbs">
                     {% if all == 'y' %}
                        <a href="index.html">Главная</a>/ <a href="{% url 'doctors_map_all' %}">Все специалисты на карте</a>
                    {% else %}
                        <a href="index.html">Главная</a>/ <a href="{% url 'doctors_map_all' %}">Все специалисты на карте</a>/ <a href="">{{ title }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="line-left">
        </div>
        <div class="row">
            <div class="col-sm">
                <h2>{{title}} <span>({{count}})</span></h2>
                <ul class="nav nav-tabs doctor-tab" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Популярные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="rating-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="false">Рейтинг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false">Стаж</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="price-tab" data-toggle="tab" href="#price" role="tab" aria-controls="price" aria-selected="false">Стоимость</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Отзывы</a>
                    </li>
                </ul>
                <div>
                     <div class="map-list tabs-nav">
                         <div class="list-icon icon">
                             <a href="{% url 'doctors_list_all' %}{{slug}}"><img src="{% static 'img/list.png' %}" alt=""></a>
                         </div>
                         <div class="map-icon icon">
                            <a href="{% url 'doctors_map_all' %}{{slug}}"> <img src="{% static 'img/place.png' %}" alt=""></a>
                         </div>
                     </div>
                     <div class="tab-maps">
                        <div class="tab-map-content tabs-target">
                            <div class="map" id="doctor-map" style="height:400px" data-slug="{{slug}}">
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-cover">
    <div class="modal-wrap">
        <div class="modal-header">
            <p class="modal-title">Запись на консультацию</p>
            <img src="{% static 'img/cross.png' %}" class="modal-close hide-modal">
        </div>
        <div class="modal-body">
            <form action="#" class="registry">
                <p>1. Выберите дату:</p>
                <div class="app-date-result"></div>
                <div class="app-service-result"></div>
                <div class="app-time-result"></div>
                <input type="hidden" name="app-user-id" class="app-user-id" value="{{user.id}}">
                <input type="hidden" name="app-doctor-id" class="app-doctor-id" value="">
                <input type="hidden" name="app-time-end" class="app-time-end" value="">
                <input type="hidden" name="app-time-interval" class="app-time-interval" value="">
                <input type="submit" class="appointment-btn" value="Записаться">
            </form>
        </div>
    </div>
</div>

{% endblock %}