{% extends "home.html" %}
{% load static %}

{% block content %}

<div class="top-search">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="search-title">
                    Запишитесь на приём к специалисту онлайн
                </div>
            </div>
        </div>
        <div class="row popup-login">
            <div class="col-sm">
                <div class="search-form">
                    <div class="form-offer">
                        <form class="mainform">
                            <p class="name">
                                <input type="text" name="name" value="Имя автора" />
                            </p>
                            <p class="email">
                                <input type="text" name="email" value="name@example.com" />
                            </p>
                            <p class="send">
                                <input type="submit" value="Отправить" />
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="doctor-search">
    <div class="container">
        <div class="row">
            <div class="col-ms">
                <div class="breadcrumbs">
                    {% if all == 'y' %}
                        <a href="index.html">Главная</a>/ <a href="{% url 'doctors_list_all' %}">Все специалисты</a>
                    {% else %}
                        <a href="index.html">Главная</a>/ <a href="{% url 'doctors_list_all' %}">Все специалисты</a>/ <a href="">{{ title }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="line-left">
        </div>
        <div class="row">
            <div class="col-sm">
                <h2>{{ title }} <span>({{count}})</span></h2>
                <ul class="nav nav-tabs doctor-tab" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Популярные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="rating-tab" data-toggle="tab" href="#rating" role="tab" aria-controls="rating" aria-selected="false">Рейтинг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false">Стаж</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="price-tab" data-toggle="tab" href="#price" role="tab" aria-controls="price" aria-selected="false">Стоимость</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Отзывы</a>
                    </li>
                </ul>
                <div>
                     <div class="map-list tabs-nav">
                         <div class="list-icon icon">
                             <a href="{% url 'doctors_list_all' %}{{slug}}"><img src="{% static 'img/list.png' %}" alt=""></a>
                         </div>
                         <div class="map-icon icon">
                            <a href="{% url 'doctors_map_all' %}{{slug}}"> <img src="{% static 'img/place.png' %}" alt=""></a>
                         </div>
                     </div>
                     <div class="tab-maps">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">

                                {% for doctor in doctors %}
                                    <div class="doctor-info">
                                        <div class="row">
                                            <div class="col-2">

                                                {% if doctor.avatar != '' %}
                                                    <div class="avatar-doctor">
                                                        <a href="{% url 'doctor_detail' slug=doctor.id %}"><img src="{{doctor.avatar.url}}" alt=""></a>
                                                    </div>
                                                {% else %}
                                                    <div class="avatar-doctor">
                                                        <a href="{% url 'doctor_detail' slug=doctor.id %}"><img src="{% static 'img/user.png' %}" alt=""></a>
                                                    </div>
                                                {% endif %}

                                                <div class="reviews-coin">
                                                    {{doctor.reviews_count}}
                                                </div>
                                                <div class="rating-profi">
                                                    Профессионализм
                                                    <div class="star-rate star-prof" data-rate-value="{{ doctor.star_prof }}" style="pointer-events: none"></div>
                                                </div>
                                                <div class="rating-qualities">
                                                    Личные качества
                                                    <div class="star-rate star-pers" data-rate-value="{{ doctor.star_pers }}" style="pointer-events: none"></div>
                                                </div>
                                            </div>
                                            <div class="col-4 info-doctor">
                                                {% if doctor.fio != '' %}
                                                    <h4><a href="{% url 'doctor_detail' slug=doctor.id %}">{{ doctor.fio }}</a></h4>
                                                {% endif %}

                                                {% if doctor.specialty != '' %}
                                                    <h6>{{ doctor.specialty }}</h6>
                                                {% endif %}

                                                {% if doctor.experience_years != '' %}
                                                    <h5>{{ doctor.experience_years }}</h5>
                                                {% endif %}

                                                {% if doctor.average_price != 0 %}
                                                    <div class="price">
                                                        <b>{{ doctor.average_price }} </b> ₽
                                                    </div>
                                                {% endif %}

                                                <div class="phone-record">
                                                    <h5>Телефон для записи</h5>
                                                    <h4>{{ doctor.phone }} </h4>

                                                    <h5>{{ doctor.city }}</h5>
                                                </div>
                                            </div>
                                            <div class="col-6 recording">
                                                {% if request.user.is_authenticated %}
                                                    {% if user.groups.all.0.name == "users" %}
                                                        {% if doctor.services != '' %}
                                                            <div class="appointment appointment-btn set-doctor-id show-modal" doctor-id="{{doctor.id}}">Записаться на прием</div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    <p>Чтобы записаться на прием, нужно <a href="{% url 'login' %}">авторизоваться</a> сайте.</p>
                                                {% endif %}
                                                <h5>Всего записались {{ doctor.count_meeting }} чел.</h5>

                                                {% if doctor.patients != '' %}
                                                    <p>Специализация: {{ doctor.patients }}</p>
                                                {% endif %}

                                                {% if doctor.meet != '' %}
                                                    <p>Прием: {{ doctor.meet }}</p>
                                                {% endif %}

                                            </div>

                                        </div>
                                    </div>

                                {% endfor %}

                                {% include "doctor/pagination.html" with page=users %}
                            </div>
                            <div class="tab-pane fade" id="rating" role="tabpanel" aria-labelledby="rating-tab">...</div>
                            <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience-tab">...</div>
                            <div class="tab-pane fade" id="price" role="tabpanel" aria-labelledby="price-tab">...</div>
                            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">...</div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-cover">
    <div class="modal-wrap">
        <div class="modal-header">
            <p class="modal-title">Запись на консультацию</p>
            <img src="{% static 'img/cross.png' %}" class="modal-close hide-modal">
        </div>
        <div class="modal-body">
            <form action="#" class="registry">
                <p>1. Выберите дату:</p>
                <div class="app-date-result"></div>
                <div class="app-service-result"></div>
                <div class="app-time-result"></div>
                <input type="hidden" name="app-user-id" class="app-user-id" value="{{user.id}}">
                <input type="hidden" name="app-doctor-id" class="app-doctor-id" value="">
                <input type="hidden" name="app-time-end" class="app-time-end" value="">
                <input type="hidden" name="app-time-interval" class="app-time-interval" value="">
                <input type="submit" class="appointment-btn" value="Записаться">
            </form>
        </div>
    </div>
</div>

{% endblock %}