{% extends "home.html" %}

{% block content %}
{% load static %}

<div class="articles">
    <div class="container article-wrap">
        <div class="row">
            <div class="col-sm">
                <h4>{{ article.title }}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                {% if article.image != '' %}
                    <img src="{{ article.image }}" alt="">
                {% else %}
                    <img src="{% static 'img/article.png' %}" alt="">
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm">

                <div class="article-content">
                    {{ article.text|safe }}
                </div>

                <p> {{ article.date }} </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}